/*
* Bootstrap
*/

@import "node_modules/bootstrap/scss/_functions.scss";
@import "node_modules/bootstrap/scss/_variables.scss";
@import "node_modules/bootstrap/scss/_mixins.scss";
@import "node_modules/bootstrap/scss/_root.scss";
@import "node_modules/bootstrap/scss/_reboot.scss";
@import "node_modules/bootstrap/scss/_type.scss";
// @import "node_modules/bootstrap/scss/_images.scss";
// @import "node_modules/bootstrap/scss/_code.scss";
// @import "node_modules/bootstrap/scss/_grid.scss";
// @import "node_modules/bootstrap/scss/_tables.scss";
// @import "node_modules/bootstrap/scss/_forms.scss";
@import "node_modules/bootstrap/scss/_buttons.scss";
@import "node_modules/bootstrap/scss/_transitions.scss";
@import "node_modules/bootstrap/scss/_dropdown.scss";
// @import "node_modules/bootstrap/scss/_button-group.scss";
// @import "node_modules/bootstrap/scss/_input-group.scss";
// @import "node_modules/bootstrap/scss/_custom-forms.scss";
@import "node_modules/bootstrap/scss/_nav.scss";
@import "node_modules/bootstrap/scss/_navbar.scss";
// @import "node_modules/bootstrap/scss/_card.scss";
// @import "node_modules/bootstrap/scss/_breadcrumb.scss";
// @import "node_modules/bootstrap/scss/_pagination.scss";
// @import "node_modules/bootstrap/scss/_badge.scss";
// @import "node_modules/bootstrap/scss/_jumbotron.scss";
// @import "node_modules/bootstrap/scss/_alert.scss";
// @import "node_modules/bootstrap/scss/_progress.scss";
// @import "node_modules/bootstrap/scss/_media.scss";
// @import "node_modules/bootstrap/scss/_list-group.scss";
// @import "node_modules/bootstrap/scss/_close.scss";
// @import "node_modules/bootstrap/scss/_modal.scss";
// @import "node_modules/bootstrap/scss/_tooltip.scss";
// @import "node_modules/bootstrap/scss/_popover.scss";
// @import "node_modules/bootstrap/scss/_carousel.scss";
@import "node_modules/bootstrap/scss/_utilities.scss";
// @import "node_modules/bootstrap/scss/_print.scss";

/*
* Font Awesome
*/
@import "font-awesome";

/*
* Custom
*/

@import 'partials/deputy';
@import 'partials/picture';
@import 'partials/loader';
@import 'partials/rate';

$primary-text-color: #fff;
$primary-ligth-text-color: #757575;
$primary-color: #FF5252;
$dark-primary-color: #f50057;

html, body {
  background-color: #F5F5F5!important;
  height: 100%;
  margin: 0;
  padding: 0;
}

.navbar-transparent {
  background-color: rgba(1,1,1,0);
  position: absolute !important;
  width: 100%;
  z-index: 10;
  .navbar-brand img {
    max-width: 45px;
  }
}

.t-s {
  color: $primary-ligth-text-color!important;
  font-style: italic;
}

.btn-bar {
  padding-left: 0px;
  .btn {
    list-style: none;
    margin-left: 10px;
    margin-top: 10px;
  }
  .btn:first-child {
    margin-left: 0px;
  }
}

.crafted {
  padding-top: 3rem;
  span {
    display: block;
    font-size: 18px;
    font-weight: 500;
  }
  img {
    max-width: 230px;
  }
}

.chart {
  margin-top: 3rem;
  margin-bottom: 3rem;
  .core {
    margin: 0 auto;
  }
}

.full-panel {
  position: relative;
  height: 100vh;
  min-height: 600px;
  .center-content {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 90%;
  }
}
