.d-card {
  text-align: center;
  .header {
    background-color: #f50057;
    .picture {
      position: relative;
      margin: 0 auto;
      transform: translate(0%, 50%);
    }
  }
  .title {
    margin-top: 100px;
  }

  .circle-btn {
    padding: .5rem;
    border-radius: 50%;
    display: inline-block;
    margin-right: 1rem;
    background-color: #f50057;
    color: #fff;
    width: 3rem;
    height: 3rem;
    a {
      color: #fff;
      i {
        font-size: 20px;
        padding-top: 5px;
      }
    }
  }
}

.main-section, .secondary-section {
  background-color: #F5F5F5;
}

@media screen and (min-width: 990px) {
  .d-card {
    .title {
      margin-top: 150px;
    }
  }

  // .main-section {
  //   position: fixed;
  //   width: 50%;
  //   bottom: 0;
  //   top: 0;
  //   padding-top: 3.5rem;
  // }
  //
  // .secondary-section {
  //   margin-left: 50%;
  //   width: 50%;
  // }

}
