.navbar {
  background-color: #f50057;
}

.navbar-brand img {
    max-height: 22px;
    vertical-align: -4px;
    display: inline-block !important;
}

.navbar-brand > span {
    display: inline-block;
    line-height: 0.8;
    margin-left: 10px;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
}
