$xs-size: 125px;
$sm-size: 175px;
$md-size: 255px;

.picture {
  margin: 0 auto;
  position: relative;
  .main {
    width: inherit;
    height: inherit;
    border-radius: 50%;
    overflow: hidden;
    background-color: #fff;
    &.red {
      border: 12px solid #f50057;
    }
    &.yellow {
      border: 12px solid #FFEB3B;
    }
    &.white {
      border: 12px solid #fff;
    }
  }
  .secondary {
    position: absolute;
    bottom: 0;
    right: 0;
    border-radius: 50%;
  }
}

.sm-picture {
  width: $xs-size!important;
  height: $xs-size!important;
  .main img {
    width: $xs-size!important;
  }
  .secondary {
    width: $xs-size/3!important;
  }
}

@media screen and (max-width: 990px) {
  .picture {
    width: $sm-size;
    height: $sm-size;
    .main {
      img {
        width: $sm-size;
      }
    }
    .secondary {
      width: $sm-size/3;
    }
  }
}

@media screen and (min-width: 990px) {
  .picture {
    width: $md-size;
    height: $md-size;
    .main img {
      width: $md-size;
    }
    .secondary {
      width: $md-size/3;
    }
  }
}
